<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>将过期店铺列表</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layui/css/layui.css" media="all">
	</head>
	<body>
		<div class="layui-card">
			
			<div class="layui-card-body">
				
				<table id="use_list" lay-filter="test"></table>
			</div>
		</div>


		<script type="text/html" id="barDemo">
		  <a    class="layui-btn layui-btn-xs" lay-event="detail">提醒</a>
		</script>
		
		
	</body>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script>
	
	var shop_id = location.search.substring(9);
		layui.use('table', function() {
			var table = layui.table;
			
			
			//执行渲染
			table.render({
				elem: '#use_list' //指定原始表格元素选择器（推荐id选择器）
					,
				url: "../../shop/queryPage",
				cols: [
					[{
						field: 'id',
						title: '店铺ID',
						align:"center",
						width:150
					}, {
						field: 'shop_name',
						title: '店铺名称',
						align:"center",
						width:150
					}, {
						field: 'shop_user_name',
						title: '店铺联系人',
						align:"center"
					}, {
						field: 'shop_email',
						title: '店铺联系人邮箱',
						align:"center"
					}, {
						field: 'shop_tel',
						title: '店铺联系电话',
						align:"center"
					}, {
						field: 'create_time',
						title: '开始时间',
						align:"center",
						templet:'<div>{{d.use_start_time}}</div>'
					} , {
						field: 'create_time',
						title: '结束时间',
						align:"center",
						templet:'<div>{{d.use_end_time}}</div>'
					} ]
				],
				where:{shop_id:shop_id}
			});
			
		
		
		


			//监听事件
			table.on('tool(test)', function(obj){
				var shop_id = obj.data.id;
			  if(obj.event === 'detail'){
			  		layer.open({
					  type: 2, 
					  title:'店铺详细信息',
					  maxmin:true,
					  area:['85%','85%'],
					  content: './shop-detail-info.html?shop_id='+ shop_id //这里content是一个普通的String
					});
			  }
			});
		});
	</script>
	</body>
</html>
