<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>营业中店铺列表</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layui/css/layui.css" media="all">
	</head>

	<body>

		<div class="layui-card">
			
			<div class="layui-card-body">
				
				<table id="demo" lay-filter="test"></table>
			</div>
		</div>


	
		
		<script type="text/html" id="statusBar">
			  {{#  if(d.is_confirm == 0){ }}
			    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="detail" >未认证(去认证)</a>
			  {{#  } else if(d.is_confirm == 2){ }}
			   	已拒绝
			  {{#  } }}
			</script>
	</body>
	</body>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	

	<script>
		layui.use('table', function() {
			var table = layui.table;
			
			
			//执行渲染
			table.render({
				elem: '#demo' //指定原始表格元素选择器（推荐id选择器）
					,
				url: "../../shop/queryPage",
				cols: [
					[{
						field: 'id',
						title: '店铺ID',
						align:"center",
						width:150
					},{
						field: 'shop_user_name',
						title: '店铺联系人',
						align:"center"
					},{
						field: 'shop_name',
						title: '店铺名称',
						align:"center"
					}, {
						field: 'shop_email',
						title: '店铺联系人邮箱',
						align:"center"
					}, {
						field: 'shop_tel',
						title: '店铺联系电话',
						align:"center"
					}, {
						field: 'is_confirm',
						title: '认证状态',
						align:"center",
						toolbar:"#statusBar"
					},{
						field: 'create_time',
						title: '店铺创建时间',
						align:"center"
					} ]
				],
				page:true,
				where:{"is_confirm":1,"is_deleted":0,"is_on":1}
			});
			
		


			//监听事件
			table.on('tool(test)', function(obj){
				console.log(obj);
				var shop_id = obj.data.id;
			  if(obj.event === 'detail'){
			  		layer.open({
					  type: 2, 
					  title:'店铺认证',
					  maxmin:true,
					  area:['85%','85%'],
					  content: './toConfirm-shop.html?shop_id='+shop_id //这里content是一个普通的String
					});
			  }
			});
		});
	</script>

</html>