<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.goods.dal.GoodsDO">

    <resultMap type="goods" id="BaseResponse">
         <result property=" id" column=" id" />
         <result property=" goods_title" column=" goods_title" />
         <result property=" goods_head_img" column=" goods_head_img" />
         <result property=" goods_price" column=" goods_price" />
         <result property=" goods_market_price" column=" goods_market_price" />
         <result property=" goods_content" column=" goods_content" />
         <result property=" goods_type_id" column=" goods_type_id" />
         <result property=" goods_shop_id" column=" goods_shop_id" />
         <result property=" goods_sell_sum" column=" goods_sell_sum" />
         <result property=" is_deleted" column=" is_deleted" />
         <result property=" is_on_sale" column=" is_on_sale" />
         <result property=" update_time" column=" update_time" />
         <result property=" create_time" column=" create_time" />
    </resultMap>
    <insert id="insertGoods" parameterType="goods" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO goods 
     (
    	goods_title,
    	goods_head_img,
    	goods_price,
    	goods_market_price,
    	goods_content,
    	goods_type_id,
    	goods_shop_id,
    	goods_sell_sum

     ) 
      VALUES 
     (
    	#{goods_title},
    	#{goods_head_img},
    	#{goods_price},
    	#{goods_market_price},
    	#{goods_content},
    	#{goods_type_id},
    	#{goods_shop_id},
    	#{goods_sell_sum}
     )
    </insert>
  
    <delete id="deleteById" parameterType="Long">
      DELETE FROM goods WHERE id = #{id}
    </delete>
  	

  	  
    <select id="countPage" resultType="java.lang.Integer">
     SELECT count(*) FROM goods
        <where>
            <include refid="pubItem"/>
        </where>
    </select>
  
    <select id="queryPage"   resultMap="BaseResponse">
      SELECT 
    	id,
    	goods_title,
    	goods_head_img,
    	goods_price,
    	goods_market_price,
    	goods_content,
    	goods_type_id,
    	goods_shop_id,
    	goods_sell_sum,
    	is_deleted,
    	is_on_sale,
    	update_time,
    	create_time
      FROM goods
      where 1=1
        <include refid="pubItem"/>
      ORDER BY create_time DESC
    </select>
  
    <select id="queryById" parameterType="Long" resultMap="BaseResponse">
      SELECT
    	id,
    	goods_title,
    	goods_head_img,
    	goods_price,
    	goods_market_price,
    	goods_content,
    	goods_type_id,
    	goods_shop_id,
    	goods_sell_sum,
    	is_deleted,
    	is_on_sale,
    	update_time,
    	create_time
      FROM goods
      WHERE id = #{id}
    </select>
  
    <update id="updateGoods" parameterType="goods">
      UPDATE goods
      <trim suffixOverrides="," prefix="SET" suffix="where id=#{id}">
          <if test="goods_title != null and goods_title !='' ">goods_title = #{goods_title},</if>
          <if test="goods_head_img != null and goods_head_img !='' ">goods_head_img = #{goods_head_img},</if>
          <if test="goods_price != null and goods_price !='' ">goods_price = #{goods_price},</if>
          <if test="goods_market_price != null and goods_market_price !='' ">goods_market_price = #{goods_market_price},</if>
          <if test="goods_content != null and goods_content !='' ">goods_content = #{goods_content},</if>
          <if test="goods_type_id != null and goods_type_id !='' ">goods_type_id = #{goods_type_id},</if>
          <if test="goods_shop_id != null and goods_shop_id !='' ">goods_shop_id = #{goods_shop_id},</if>
          <if test="goods_sell_sum != null and goods_sell_sum !='' ">goods_sell_sum = #{goods_sell_sum},</if>
          <if test="is_deleted != null and is_deleted !='' ">is_deleted = #{is_deleted},</if>
          <if test="is_on_sale != null and is_on_sale !='' ">is_on_sale = #{is_on_sale},</if>
         update_time = NOW(),
          <if test="create_time != null and create_time !='' ">create_time = #{create_time}</if>
      </trim>
    </update>

    <select id="queryList" resultMap="BaseResponse" parameterType="goods">
        SELECT
            id,
            goods_title,
            goods_head_img,
            goods_price,
            goods_market_price,
            goods_content,
            goods_type_id,
            goods_shop_id,
            goods_sell_sum,
            is_deleted,
            is_on_sale,
            update_time,
            create_time
        FROM goods
        <where>
            <include refid="pubItem"/>
        </where>
        ORDER BY create_time DESC
    </select>


    <sql id="pubItem">
         <if test="goods_title != null and goods_title !='' ">and goods_title = #{goods_title}</if>
         <if test="goods_head_img != null and goods_head_img !='' ">and goods_head_img = #{goods_head_img}</if>
         <if test="goods_price != null and goods_price !='' ">and goods_price = #{goods_price}</if>
         <if test="goods_market_price != null and goods_market_price !='' ">and goods_market_price = #{goods_market_price}</if>
         <if test="goods_content != null and goods_content !='' ">and goods_content = #{goods_content}</if>
         <if test="goods_type_id != null and goods_type_id !='' ">and goods_type_id = #{goods_type_id}</if>
         <if test="goods_shop_id != null and goods_shop_id !='' ">and goods_shop_id = #{goods_shop_id}</if>
         <if test="goods_sell_sum != null and goods_sell_sum !='' ">and goods_sell_sum = #{goods_sell_sum}</if>
         <if test="is_deleted != null and is_deleted !='' ">and is_deleted = #{is_deleted}</if>
         <if test="is_on_sale != null and is_on_sale !='' ">and is_on_sale = #{is_on_sale}</if>
         <if test="update_time != null and update_time !='' ">and update_time = #{update_time}</if>
         <if test="create_time != null and create_time !='' ">and create_time = #{create_time}</if>
    </sql>


  
</mapper>