<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.shop.dal.ShopDetailDO">

    <resultMap type="shopDetail" id="BaseResponse">
         <result property=" id" column=" id" />
         <result property=" shop_id" column=" shop_id" />
         <result property=" code_face" column=" code_face" />
         <result property=" code_back" column=" code_back" />
         <result property=" deal_img" column=" deal_img" />
         <result property=" create_time" column=" create_time" />
         <result property=" update_time" column=" update_time" />
    </resultMap>
    <insert id="insertShopDetail" parameterType="shopDetail" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO shop_detail 
     (
    	shop_id,
    	code_face,
    	code_back,
    	deal_img
     ) 
      VALUES 
     (
    	#{shop_id},
    	#{code_face},
    	#{code_back},
    	#{deal_img}
     )
    </insert>
  
    <delete id="deleteById" parameterType="Long">
      DELETE FROM shop_detail WHERE id = #{id}
    </delete>
  	

  	  
    <select id="countPage" resultType="java.lang.Integer">
     SELECT count(*) FROM shop_detail
        <where>
            <include refid="pubItem"/>
        </where>
    </select>
  
    <select id="queryPage"   resultMap="BaseResponse">
      SELECT 
    	id,
    	shop_id,
    	code_face,
    	code_back,
    	deal_img,
    	create_time,
    	update_time
      FROM shop_detail
      ORDER BY create_time DESC
      LIMIT #{page.startRow},#{page.pageSize}
    </select>

    <select id="queryOneByShopId" parameterType="Long" resultMap="BaseResponse">
          SELECT
    	id,
    	shop_id,
    	code_face,
    	code_back,
    	deal_img,
    	create_time,
    	update_time
      FROM shop_detail
      WHERE shop_id = #{shop_id}
    </select>
  
    <select id="queryById" parameterType="Long" resultMap="BaseResponse">
      SELECT
    	id,
    	shop_id,
    	code_face,
    	code_back,
    	deal_img,
    	create_time,
    	update_time
      FROM shop_detail
      WHERE id = #{id}
    </select>
  
    <update id="updateShopDetail" parameterType="shopDetail">
      UPDATE shop_detail
      SET
         <if test="shop_id != null and shop_id !='' ">shop_id = #{shop_id},</if>
         <if test="code_face != null and code_face !='' ">code_face = #{code_face},</if>
         <if test="code_back != null and code_back !='' ">code_back = #{code_back},</if>
         <if test="deal_img != null and deal_img !='' ">deal_img = #{deal_img},</if>
         <if test="create_time != null and create_time !='' ">create_time = #{create_time},</if>
         <if test="update_time != null and update_time !='' ">update_time = #{update_time}</if>
      WHERE id = #{id}
    </update>

    <select id="queryList" resultMap="BaseResponse" parameterType="shopDetail">
        SELECT
            id,
            shop_id,
            code_face,
            code_back,
            deal_img,
            create_time,
            update_time
        FROM shop_detail
        <where>
            <include refid="pubItem"/>
        </where>
        ORDER BY create_time DESC
    </select>


    <sql id="pubItem">
         <if test="shop_id != null and shop_id !='' ">and shop_id = #{shop_id}</if>
         <if test="code_face != null and code_face !='' ">and code_face = #{code_face}</if>
         <if test="code_back != null and code_back !='' ">and code_back = #{code_back}</if>
         <if test="deal_img != null and deal_img !='' ">and deal_img = #{deal_img}</if>
         <if test="create_time != null and create_time !='' ">and create_time = #{create_time}</if>
         <if test="update_time != null and update_time !='' ">and update_time = #{update_time}</if>
    </sql>


  
</mapper>