<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.shop.dal.ShopMealDO">

    <resultMap type="shopMeal" id="BaseResponse">
         <result property=" id" column=" id" />
         <result property=" meal_title" column=" meal_title" />
         <result property=" meal_desc" column=" meal_desc" />
         <result property=" meal_img" column=" meal_img" />
         <result property=" meal_price" column=" meal_price" />
         <result property=" is_deleted" column=" is_deleted" />
         <result property=" create_time" column=" create_time" />
         <result property=" update_time" column=" update_time" />
    </resultMap>
    <insert id="insertShopMeal" parameterType="shopMeal" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO shop_meal 
     (
    	meal_title,
    	meal_desc,
    	meal_img,
    	meal_price
     ) 
      VALUES 
     (
    	#{meal_title},
    	#{meal_desc},
    	#{meal_img},
    	#{meal_price}
     )
    </insert>
  
    <delete id="deleteById" parameterType="Long">
      DELETE FROM shop_meal WHERE id = #{id}
    </delete>
  	

  	  
    <select id="countPage" resultType="java.lang.Integer">
     SELECT count(*) FROM shop_meal
        <where>
            <include refid="pubItem"/>
        </where>
    </select>
  

  
    <select id="queryById" parameterType="Long" resultMap="BaseResponse">
      SELECT
    	id,
    	meal_title,
    	meal_desc,
    	meal_img,
    	meal_price,
    	is_deleted,
    	create_time,
    	update_time
      FROM shop_meal
      WHERE id = #{id}
    </select>
  
    <update id="updateShopMeal" parameterType="shopMeal">
      UPDATE shop_meal
      SET
         <if test="meal_title != null and meal_title !='' ">meal_title = #{meal_title},</if>
         <if test="meal_desc != null and meal_desc !='' ">meal_desc = #{meal_desc},</if>
         <if test="meal_img != null and meal_img !='' ">meal_img = #{meal_img},</if>
         <if test="meal_price != null and meal_price !='' ">meal_price = #{meal_price},</if>
         <if test="is_deleted != null and is_deleted !='' ">is_deleted = #{is_deleted},</if>
         <if test="create_time != null and create_time !='' ">create_time = #{create_time},</if>
         <if test="update_time != null and update_time !='' ">update_time = #{update_time}</if>
      WHERE id = #{id}
    </update>

    <select id="queryList" resultMap="BaseResponse" parameterType="shopMeal">
        SELECT
            id,
            meal_title,
            meal_desc,
            meal_img,
            meal_price,
            is_deleted,
            create_time,
            update_time
        FROM shop_meal
        <where>
            <include refid="pubItem"/>
        </where>
        ORDER BY create_time DESC
    </select>


    <sql id="pubItem">
         <if test="meal_title != null and meal_title !='' ">and meal_title = #{meal_title}</if>
         <if test="meal_desc != null and meal_desc !='' ">and meal_desc = #{meal_desc}</if>
         <if test="meal_img != null and meal_img !='' ">and meal_img = #{meal_img}</if>
         <if test="meal_price != null and meal_price !='' ">and meal_price = #{meal_price}</if>
         <if test="is_deleted != null and is_deleted !='' ">and is_deleted = #{is_deleted}</if>
         <if test="create_time != null and create_time !='' ">and create_time = #{create_time}</if>
         <if test="update_time != null and update_time !='' ">and update_time = #{update_time}</if>
    </sql>


  
</mapper>