<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.order.dal.OrderDetailDO">

    <resultMap type="orderDetail" id="BaseResponse">
         <result property="id" column="id" />
         <result property="order_id" column="order_id" />
         <result property="goods_id" column="goods_id" />
         <result property="goods_count" column="goods_count" />
         <result property="goods_sum_price" column="goods_sum_price" />
         <result property="create_time" column="create_time" />
    </resultMap>
    <insert id="insertOrderDetail" parameterType="orderDetail" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO order_detail 
     (
    	order_id,
    	goods_id,
    	goods_count,
    	goods_sum_price
     ) 
      VALUES 
     (
    	#{order_id},
    	#{goods_id},
    	#{goods_count},
    	#{goods_sum_price}

     )
    </insert>
  
    <delete id="deleteById" parameterType="Long">
      DELETE FROM order_detail WHERE id = #{id}
    </delete>
  	

  	  
    <select id="countPage" resultType="java.lang.Integer">
     SELECT count(*) FROM order_detail
        <where>
            <include refid="pubItem"/>
        </where>
    </select>
  
    <select id="queryPage"   resultMap="BaseResponse">
      SELECT 
    	    o.id,
            o.order_id,
            o.goods_id,
            o.goods_count,
            o.goods_sum_price,
            o.create_time,
            g.goods_title,
            g.goods_head_img
        FROM order_detail o
        left join goods g on g.id = o.goods_id
      ORDER BY create_time DESC
      LIMIT #{page.startRow},#{page.pageSize}
    </select>
  
    <select id="queryById" parameterType="Long" resultMap="BaseResponse">
      SELECT
    	     o.id,
            o.order_id,
            o.goods_id,
            o.goods_count,
            o.goods_sum_price,
            o.create_time,
            g.goods_title,
            g.goods_head_img
        FROM order_detail o
        left join goods g on g.id = o.goods_id
      WHERE id = #{id}
    </select>
  
    <update id="updateOrderDetail" parameterType="orderDetail">
      UPDATE order_detail
      <trim suffix=" WHERE id = #{id}" prefix="set"  suffixOverrides=",">
          <if test="order_id != null and order_id !='' ">order_id = #{order_id},</if>
          <if test="goods_id != null and goods_id !='' ">goods_id = #{goods_id},</if>
          <if test="goods_count != null and goods_count !='' ">goods_count = #{goods_count},</if>
          <if test="goods_sum_price != null and goods_sum_price !='' ">goods_sum_price = #{goods_sum_price},</if>
          <if test="create_time != null and create_time !='' ">create_time = #{create_time}</if>
      </trim>

    </update>

    <select id="queryList" resultMap="BaseResponse" parameterType="orderDetail">
        SELECT
            o.id,
            o.order_id,
            o.goods_id,
            o.goods_count,
            o.goods_sum_price,
            o.create_time,
            g.goods_title,
            g.goods_head_img
        FROM order_detail o
        left join goods g on g.id = o.goods_id
        <where>
            <include refid="pubItem"/>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="queryListByOrderId" resultMap="BaseResponse">
         SELECT
            o.id,
            o.order_id,
            o.goods_id,
            o.goods_count,
            o.goods_sum_price,
            o.create_time,
            g.goods_title,
            g.goods_head_img
        FROM order_detail o
        left join goods g on g.id = o.goods_id
        where order_id = #{orderId}
    </select>

    <sql id="pubItem">
         <if test="order_id != null and order_id !='' ">and order_id = #{order_id}</if>
         <if test="goods_id != null and goods_id !='' ">and goods_id = #{goods_id}</if>
         <if test="goods_count != null and goods_count !='' ">and goods_count = #{goods_count}</if>
         <if test="goods_sum_price != null and goods_sum_price !='' ">and goods_sum_price = #{goods_sum_price}</if>
         <if test="create_time != null and create_time !='' ">and create_time = #{create_time}</if>
    </sql>


  
</mapper>